@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    max-width: 1280px; /* Max width for larger screens */
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto; /* Center the container */
    padding: 0rem 0.625rem; /* Add padding inside the container */
  }